@font-face {
  font-family: minecraf_font1;
  font-weight: bold;
  src: url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
}

@font-face {
  font-family: minecraf_font2;
    font-weight: bold;
  src: url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
}
